/* General Styles */
body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
header {
    font-family: Roboto, sans-serif;
    position: relative;
    background: #333;
    color: #fff;
    height: 100vh; /* Full height of the viewport */
    border-bottom: #333 0.18em solid; /* Changed to dark grey */
}

header img {
    width: 100%;
    height: 100%; /* Full height of the header */
    object-fit: cover; /* Ensure the image covers the header area */
    display: block;
}

.header-content {
    position: absolute; /* Position relative to the header */
    bottom: 3em;       /* Positioning from the bottom of the header */
    right: 9em;        /* Positioning from the right of the header */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.5em;      /* Padding inside the box */
    border-radius: 1.5em;
}

.header-content h1 {
    font-size: 2.25em;
    color: #333;
    text-align: center;

}

.header-content p {
    font-size: 1.2em;
    margin: 0.3em 0;     /* Reduce space between paragraphs */
    color: #333;
    text-align: center;
    font-weight: bold;
}


nav {
    position: absolute;
    top: 1.25em;
    right: 1.25em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    font-family: 'Roboto', sans-serif; /* Ensure the correct font is used */
    font-weight: 100; /* Thin font weight */
    color: #333333CF;
    text-decoration: none;
    font-size: 1.45em;
}

/* Showcase Styles */
#showcase {
    min-height: 15em;
    text-align: center;
    color: #333; /* Dark grey text color */
}

#showcase h1 {
    font-size: 2.5em;
    color: #333; /* Dark grey text color */
}

#showcase p {
    font-size: 1.25em;
    text-align: center;
    color: #333; /* Dark grey text color */
    margin: 0.5em;
}

/* Section Styles */
section {
    padding: 1.25em 0;
    border-bottom: #333 0.1em solid; /* Changed to dark grey */
}

.dark {
    padding: 0.9em;
    background: #333;
    color: #fff;
    margin-top: 0.625em;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 0.625em;
    text-align: center;
    margin-bottom: 0.625em;
}

#boxes .box img {
    width: 5.6em;
}

#boxes h3 {
    margin: 0.625em 0;
}

article {
    float: left;
    width: 70%;
    margin-top: 1.25em;
}

aside {
    float: right;
    width: 30%;
    margin-top: 1.25em;
}

footer {
    padding: 1.25em;
    margin-top: 1.25em;
    color: #fff;
    background-color: #333;
    text-align: center;
}

/* Hidden class for expandable section */
.hidden {
    display: none;
}

/* Arrow Icon Styles */
#toggle-arrow {
    cursor: pointer;
    margin-left: 0.625em;
    transition: transform 0.3s ease;
}

#toggle-arrow-pub {
    cursor: pointer;
    margin-left: 0.625em;
    transition: transform 0.3s ease;
}


#toggle-arrow.rotate {
    transform: rotate(180deg);
}

#toggle-arrow-pub.rotate {
    transform: rotate(180deg);
}

/* Clearfix */
.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* Media Queries */
@media (max-width: 48em) {
    header .header-content, header .header-content nav, header .header-content nav ul, header .header-content nav ul li {
        float: none;
        text-align: center;
        width: 100%;
    }

    #showcase h1 {
        font-size: 2.5em;
    }

    #boxes .box {
        float: none;
        width: 100%;
    }

    article, aside {
        float: none;
        width: 100%;
    }
}

.address-block {
    line-height: 1.0;
    color: #333;
    margin-top: 1.25em;
}

.address-block p {
    margin: 0.3em 0;
}

.address-block a {
    color: #333;
    text-decoration: none;
}

.address-block a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 48em) {
    .header-content {
        padding: 0.625em;
        bottom: 0.625em;
        right: 0.625em;
    }

    .header-content h1 {
        font-size: 2em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.625em 0;
    }

    .container {
        width: 100%;
        padding: 0.625em;
    }

    .address-block {
        text-align: center;
    }
}

@media (max-width: 10em) {
    .header-content {
        width: 100%;
        padding: 0.3em;
    }
    .header-content h1 {
        font-size: 1.5em; /* Adjust font size for small screens */
    }

    nav ul li {
        margin: 0.3em 0;
    }
}
